<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="2"
    android:versionName="1.0.1"
    package="kilombu.kilombuapp">

    <uses-sdk
        android:minSdkVersion="10"
        tools:overrideLibrary="com.firebase.ui" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".KilombuApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BusinessDetailsActivity"
            android:label="@string/title_activity_business_details"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kilombu.kilombuapp.MainActivity" />
        </activity>
        <activity
            android:name=".CreateBusinessActivity"
            android:label="@string/title_activity_create_business"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kilombu.kilombuapp.MainActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kilombu.kilombuapp.MainActivity" />
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_signup"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kilombu.kilombuapp.MainActivity" />
        </activity>
        <activity android:name=".CategoriesListActivity"
            android:label="@string/title_activity_categorieslist"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kilombu.kilombuapp.MainActivity" />
        </activity>
        <activity
            android:name=".BusinessProfileActivity"
            android:label="@string/title_activity_business_profile"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kilombu.kilombuapp.MainActivity" />
        </activity>
        <activity
            android:name=".EditBusinessInfoActivity"
            android:label="@string/title_activity_edit_business_info"
            android:parentActivityName=".BusinessProfileActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kilombu.kilombuapp.BusinessProfileActivity" />
        </activity>
        <activity
            android:name=".EditContactInfoActivity"
            android:label="@string/title_activity_edit_contact_info"
            android:parentActivityName=".BusinessProfileActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kilombu.kilombuapp.BusinessProfileActivity" />
        </activity>
        <activity
            android:name=".EditStoreInfoActivity"
            android:label="@string/title_activity_edit_store_info"
            android:parentActivityName=".BusinessProfileActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kilombu.kilombuapp.BusinessProfileActivity" />
        </activity>
        <activity
            android:name=".UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kilombu.kilombuapp.MainActivity" />
        </activity>
        <activity
            android:name=".EditUserNameActivity"
            android:label="@string/title_activity_edit_name"
            android:parentActivityName=".UserProfileActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kilombu.kilombuapp.UserProfileActivity" />
        </activity>
        <activity
            android:name=".EditUserEmailActivity"
            android:label="@string/title_activity_edit_user_email"
            android:parentActivityName=".UserProfileActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kilombu.kilombuapp.UserProfileActivity" />
        </activity>
        <activity
            android:name=".ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:parentActivityName=".UserProfileActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kilombu.kilombuapp.UserProfileActivity" />
        </activity>
        <activity
            android:name=".ResetPasswordActivity"
            android:label="@string/title_activity_reset_password"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kilombu.kilombuapp.LoginActivity" />
        </activity>
        <activity
            android:name=".ChangeTokenPasswordActivity"
            android:label="@string/title_activity_change_token_password"
            android:parentActivityName=".ResetPasswordActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="kilombu.kilombuapp.ResetPasswordActivity" />
        </activity>
    </application>

</manifest>
